@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Irish+Grover&family=Josefin+Slab:wght@100&family=Knewave&family=Lilita+One&family=Paprika&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  background-color: #010314;
}

.Top-container {
  width: 95%;
  height: fit-content;
  background: radial-gradient(140% 107.13% at 50% 10%, transparent 37.41%, #6b7280 69.27%, #fff 100%);
  border-radius: 0 0 20px 20px;
  margin: auto;
}

.navbar {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-logo {
  font-size: 30px;
  align-items: center;
  display: flex;
}
.nav-logo img {
  margin-right: 10px;
}
.nav-logo p {
  font-family: "Inter", sans-serif;
  background: -webkit-linear-gradient(50deg, #fff, #737587);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffffff;
  font-weight: 600;
  font-weight: 800;
  font-size: 30px;
}

.nav-center {
  border: 1px solid #9e9e9e;
  padding: 15px;
  border-radius: 50px;
}

.nav-center a {
  font-size: 15px;
  color: #ffffff;
  padding: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.nav-end {
  display: flex;
  align-items: center;
}

.nav-end button {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  padding: 15px 30px 15px 30px;
  border-radius: 40px;
  margin-right: 20px;
}

.nav-end svg {
  margin-left: 5px;
}

@media screen and (max-width: 930px) {
  .nav-center {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav-logo p {
    font-size: 25px;
  }
  .nav-logo img {
    margin-right: 5px;
  }
  .nav-end .g-icon {
    display: none;
  }
  .nav-end button {
    margin-right: 0px;
  }
}

.Top-content {
  padding-top: 150px;
  padding-bottom: 150px;
  width: 50%;
  margin: auto;
}

.big-text {
  margin-bottom: 15px;
}

.big-text p {
  font-size: 80px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.big-text span {
  font-size: 80px;
  font-weight: 600;
  background: -webkit-linear-gradient(50deg, #fff, #737587);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Inter", sans-serif;
}

.desc-text {
  max-width: 80%;
  margin-bottom: 20px;
}

.desc-text p {
  font-weight: 600;
  color: #b3b3b3;
  font-family: "Inter", sans-serif;
}

.button-text button {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  padding: 15px 30px 15px 30px;
  border-radius: 40px;
}

.button-text button svg {
  margin-left: 5px;
}

@media screen and (max-width: 1400px) {
  .Top-content {
    width: 80%;
  }

  .desc-text {
    max-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .Top-content {
    padding-bottom: 100px;
    margin: 0;
    margin-left: 20px;
  }

  .big-text p {
    font-size: 65px;
  }

  .big-text span {
    font-size: 65px;
  }
  .desc-text {
    max-width: 100%;
  }

  .desc-text p {
    font-size: 15px;
  }
  .button-text button {
    font-size: 14px;
    padding: 15px 30px 15px 30px;
  }
  .button-text button svg {
    margin-left: 5px;
  }
}

.island-content {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 50%;
  height: max-content;
  color: #ffffff;
  margin: auto;
  font-size: 30px;
}

.island-top-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  animation: kanan 9s infinite linear;
}
/* Start Font daerah top */
.island-top-text .Jawa {
  font-family: "Irish Grover", sans-serif;
}

.island-top-text .Sumatra {
  font-family: "Akaya Kanadaka", sans-serif;
}

.island-top-text .Kalimantan {
  font-family: "Knewave", sans-serif;
}

.island-top-text .Sulawesi {
  font-family: "Lilita One", sans-serif;
}

/* Close Font daerah top */
.island-bottom-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: kiri 9s infinite linear;
}

.island-bottom-text .Maluku {
  font-family: "Josefin Slab", sans-serif;
}

.island-bottom-text .Papua {
  font-family: "Paprika", sans-serif;
}

.island-bottom-text .Nusa-Tenggara {
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 1400px) {
  .island-content {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .island-content {
    overflow-x: hidden;
  }
  .island-top-text span {
    margin-right: 30px;
  }
  .island-bottom-text span {
    margin-right: 30px;
  }
  /* .island-content {
    width: 100%;
    height: 50vh;
    display: flex;
    margin: auto;
    justify-content: center;
  } */
  /* .island-top-text {
    flex-direction: column;
    margin-bottom: 0;
    justify-content: space-between;
  }
  .island-bottom-text {
    flex-direction: column;
    justify-content: space-between;
  } */
  @keyframes kanan {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(120%);
    }
  }
  @keyframes kiri {
    0% {
      transform: translateX(120%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

.Bottom-container {
  width: 95%;
  height: fit-content;
  background: radial-gradient(140% 107.13% at 50% 100%, transparent 37.41%, #6b7280 69.27%, #fff 140%);
  border-radius: 20px 20px 0 0;
  margin: auto;
}

.about-container {
  width: 70%;
  margin: auto;
  padding-top: 80px;
}

.purpose-text {
  background: -webkit-linear-gradient(#fff, #cecece);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  max-width: 80%;
  font-size: 80px;
  padding-bottom: 40px;
}

.abt-btn button {
  padding: 10px 30px 10px 30px;
  margin-right: 20px;
  border-radius: 50px;
  background: none;
  color: #ffffff;
  border: 1px solid #d4d4d4;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  margin-bottom: 40px;
}

.about-content {
  display: flex;
  padding: 100px;
  border-radius: 15px;
  border: 1px solid #9e9e9e;
  height: fit-content;
  align-items: center;
}

.main-icon {
  margin-right: 60px;
}

.about-main {
  font-family: "Inter", sans-serif;
}

.a-headline {
  font-size: 80px;
  color: #dbdbdb;
  font-weight: 600;
}

.a-desc {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #9e9e9e;
  font-size: 20px;
  max-width: 605px;
}

.a-desc span {
  color: #4f46e5;
}

.a-button button {
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  background: #ffffff;
  color: #000000;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .main-icon {
    margin-right: 0;
  }
  .purpose-text {
    font-size: 50px;
    max-width: 100%;
  }
  .about-content {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    align-items: center;
    justify-content: center;
  }
  .a-headline {
    font-size: 60px;
    text-align: center;
  }
  .about-container {
    width: 92%;
  }
}

@media screen and (max-width: 500px) {
  .abt-btn button {
    overflow-x: auto;
  }
  .purpose-text {
  }
  .about-content {
    border-radius: 35px;
  }
  .about-container {
    width: 95%;
  }
}

.team-cons {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-flow: wrap;
}

.container-1,
.container-2,
.container-3 {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(#3b3b3b, #2e2e2e);
  font-family: "Inter", sans-serif;
  border-radius: 10px;
}

.team-frame {
  width: 200px;
  height: 200px;
  background-color: #6b7280;
  border-radius: 100%;
}
.team-text {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
}

.team-subtext {
  margin: 5px;
  color: #737587;
  text-align: center;
}

.team-icons {
  margin-top: 10px;
}
.team-wrap {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
